[submodule "ServiceMeshProj"]
	path = ServiceMeshProj
	url = https://github.com/Camprite/ServiceMeshProj.git
[submodule "SSMMP"]
	path = SSMMP
	url = https://github.com/MichalZukUWS/SSMMP
[submodule "SSMMPProject"]
	path = SSMMPProject
	url = https://github.com/JakubZurawickiUWS/SSMMPProject
[submodule "ServiceMeshP"]
	path = MeshService
	url = https://github.com/ArtiFixal/MeshService.git
[submodule "ServiceMashProject"]
	path = ServiceMashProject
	url = https://github.com/mMemeMan/ServiceMashProject.git
